<div class="footer">
  <h4>Prepared by Hii Tuong Sing</h4>
  <nav>
    <ul>
      <li>
        <a
          href="https://www.linkedin.com/in/tuong-sing-hii-809588210/"
          target="_blank"
          ><i class="fa-brands fa-linkedin"></i> LinkedIn</a
        >
      </li>
      <li>
        <a href="https://github.com/HiiTuongSing" target="_blank"
          ><i class="fa-brands fa-square-github"></i> GitHub</a
        >
      </li>
      <li>
        <a href="mailto:hiituongsing@gmail.com"
          ><i class="fa-solid fa-envelope"></i> hiituongsing@gmail.com</a
        >
      </li>
    </ul>
  </nav>
</div>
