<nav class="header">
  <a class="header-title" href="/"
    >READ DEEZ BOOKS</i>
  </a>
  <ul class="header-navbar">
    <li>
      <a href="/authors"><i class="fa-solid fa-pen-nib"></i> Authors</a>
    </li>
    <li>
      <a href="/authors/new"><i class="fa-solid fa-plus"></i> New Author</a>
    </li>
    <li>
      <a href="/books"><i class="fa-solid fa-book"></i> Books</a>
    </li>
    <li>
      <a href="/books/new"><i class="fa-solid fa-plus"></i> New Book</a>
    </li>
  </ul>
</nav>
