<h2 class="page-title">Recently Added</h2>

<div class="book-grid">
  <% books.forEach( book => { %>
  <div class="book-display-container">
    <a href="/books/<%= book.id %>">
      <img src="<%= book.coverImagePath %>" />
      <h2><%= book.title %></h2>
    </a>
  </div>
  <% }) %>
</div>
