:root {
  --color-base-hue: 150;
  --color-background-light: hsl(var(--color-base-hue), 100%, 16%);
  --color-background-dark: hsl(var(--color-base-hue), 100%, 8%);
  --color-text-light: hsl(var(--color-base-hue), 100%, 88%);
  --color-text-dark: hsl(var(--color-base-hue), 100%, 40%);
  --color-text-danger: hsl(var(--color-danger-hue), 100%, 40%);
  --font-family: "Roboto", Times, serif;
  --page-title-font-size: 2.5rem;
  --page-title-font-weight: 800;
}
