<div class="form-row">
  <div class="form-item">
    <label class="form-label">Name</label>
    <input
      class="form-input"
      type="text"
      name="name"
      value="<%= author.name %>"
    />
  </div>
</div>
